*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: sans-serif, "poppins";
}

 .container{
    width: 100%;
    height: 100vh;
    background: snow;
}

/* header design*/
.container nav {
    width: 100%;
    height: 250px;
    background-image: url(head-img.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
 nav h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: #fff;
    font-weight: 750;
}

/* main to-do box design */
.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: -70px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-input{
    width: 100%;
    background: #edeef0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    border-radius: 30px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 18px;
    font-size: 17px;
}
#add-btn{
    border: none;
    outline: none;
    padding: 15px 30px;
    background: linear-gradient(135deg, rgba(128, 0, 128, 0.777), rgba(0, 0, 255, 0.532));
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}
ul li{
    list-style-type: none;
    padding: 12px 8px 12px 50px;
    border-radius: 30px;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(uncheck-48.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    border: none;
    background-image: url(check-mark.png);
}

ul li button{
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: #555;
    line-height: 40px;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s;
}
ul li button:hover{
    color: #fff;
    background: linear-gradient(134deg,rgba(128, 0, 128, 0.777), rgba(0, 0, 255, 0.532));
}

/* footer design */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer p{
    color: #555;
    font-size: 13px;
}



/* @media queries start */

@media (max-width:800px){
    .container nav{
        height: 200px;
    }
}
@media (max-width:600px){
    .todo-app{
        max-width: 450px;
        padding: 30px 10px 50px;
    }
}
 @media (max-width:500px){
    .container nav {
        height: 180px;
    }
    nav h2{
        font-size: 35px;
    }
    .todo-app{
        max-width: 350px;
        margin: -50px auto 20px;
    }
    input{
        padding: 8px 12px;
    }
    #add-btn{
        padding: 12px 20px;
    }
}
@media (max-width:380px){
    .todo-app{
        max-width: 330px;
    }
    #add-btn{
        font-size: 15px;
    }
} 