*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "Poppins";
}

.container{
    width: 100%;
    min-height: 100vh;
    background: snow;
}

.container nav{
    width: 100%;
    height: 250px;
    background-image: url(head-img.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h2{
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
    font-weight: 750;
}

.todo-app{
    width: 90%;
    max-width: 540px;
    background: #fff;
    margin: -70px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.add-input{
    width: 100%;
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 25px;
}

input{
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 18px;
    font-size: 17px;
}

#add-btn{
    flex-shrink: 0;
    border: none;
    outline: none;
    padding: 15px 25px;
    background: linear-gradient( 135deg,rgba(128,0,128,.8),rgba(0,0,255,.55));
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    border-radius: 30px;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 8px;
    top: 7px;
    border-radius: 50%;
    background-image: url(uncheck-48.png);
    background-size: cover;
    background-position: center;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(check-mark.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

ul li span:hover{
    color: #fff;
    background: linear-gradient(
        135deg,
        rgba(128,0,128,.8),
        rgba(0,0,255,.55)
    );
}

/* Responsive  */

@media (max-width:800px){

    .container nav{
        height:200px;
    }

}

@media (max-width:600px){

    .todo-app{
        width:95%;
        padding:30px 20px 50px;
    }

}

@media (max-width:500px){

    .container nav{
        height:180px;
    }

    nav h2{
        font-size:34px;
    }

    .todo-app{
        width:95%;
        margin:-50px auto 20px;
        padding:25px 15px 40px;
    }

    input{
        padding:12px;
        font-size:15px;
    }

    #add-btn{
        padding:12px 16px;
        font-size:15px;
    }

}

@media (max-width:350px){

    input{
        font-size:14px;
    }

    #add-btn{
        padding:10px 15px;
        font-size:14px;
    }

}
